<footer>
    <div class="foot-panel1">
        Back to top
    </div>
    <div class="foot-panel2">
        <ul>
           <p> Get to Know Us</p>
             <a>About Us</a>
             <a>Careers</a>
             <a>Press Releases</a>
             <a>Amazon Science</a>
        </ul>
        <ul>
            <p> Get to Know Us</p>
              <a>About Us</a>
              <a>Careers</a>
              <a>Press Releases</a>
              <a>Amazon Science</a>
         </ul>
         <ul>
            <p> Get to Know Us</p>
              <a>About Us</a>
              <a>Careers</a>
              <a>Press Releases</a>
              <a>Amazon Science</a>
         </ul>
         <ul>
            <p> Get to Know Us</p>
              <a>About Us</a>
              <a>Careers</a>
              <a>Press Releases</a>
              <a>Amazon Science</a>
         </ul>
    </div>
    <div class="foot-panel3">
        <div class="logo1"></div>

    </div>
</footer>