


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Style1.css">
    <title>task2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
    <div class="page">
        
    <div class="box">
        <h1>Sign up now</h1>
        <div class="part1">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name"></div>
        <br>
        
        <input type="text" placeholder="Email address" class="abc">
       
        <br>
        <input type="text" placeholder="Password" class="pqr">
    
    <br>
        <input type="checkbox" class="xyz">Subscribe to our newsletter
       <br>
        <button type="submit">SIGN UP</button>
        <p>or sign up with:</p>
        <div class="logo">
        
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-google"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-github"></i>
    </div>
</div>

</body>

</html>
